

.back{
    position: absolute;
    
    bottom: 0;
    right: 0;
    z-index: -3;
}

.content{
    margin: 0%, auto;

}


.addBox{
    position: absolute;
    background-color: #323232; 
    left: 0;
    bottom: 0;
    width: 15%;
    height: 10;
}