.item-container{
    
    display: block;
    height: 92.5vh;
    max-width: 1440px;
    margin: 0 auto;
    

}


.left-col-box {
  
    display: flex;
    justify-content: center;
    margin-left: 5%;
    float:left;
    height: 92.5vh;
    transform: rotate(-180deg);
    
   
 
}

.left-col-box h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    writing-mode: vertical-lr;
    margin: auto auto;
}

.right-col-box{
    
    
    margin: auto auto;
    min-height: 25%;
}

.right-col-box p{
    font-family: 'Oswald', sans-serif;
}

.addBtn{
   
    width: 315px;
    background: #323232;
    color: white;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 24px;
    cursor: pointer;
}

.modal-item{
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    border: 2px solid #000;
    background-color: white;
}